<div
  class="p-4 relative h-[100dvh] w-full flex flex-wrap items-center justify-center"
>
  <div class="w-full flex flex-wrap">
    <div class="w-full flex justify-center">
      <img src="src/assets/images/logo.png" />
    </div>
    <div class="w-full flex justify-center">
      <h1 class="text-2xl text-black">به سامانه مدیریت پروژه خوش آمدید</h1>
    </div>
  </div>

  <!-- <app-button
    class="w-full fixed px-4 bottom-9"
    [lable]="'شروع'"
    [id]="'btn_start'"
    (clickHandler)="clickHandler($event)"
  /> -->
</div>
