<button
  class="w-full h-12 rounded-lg flex items-center justify-center px-4 gap-2"
  [ngClass]="{'bg-transparent !justify-end !min-w-[3rem] !px-0': item().type === 'icon-only'}"
  (click)="onClick()"
  [disabled]="item().isDisabled || item().isLoading"
  [id]="item().id"
>
  @if(item().type === "icon-only"){
  <span [class]="'text-2xl icon ' + item().icon?.name"></span>
  } @else if(item().icon){ @if(item().icon?.position === 'right'){
  <span [class]="'icon ' + item().icon?.name"></span>
  }
  {{ item().label }}
  @if(item().icon?.position === 'left'){
  <span [class]="'text-2xl icon ' + item().icon?.name"></span>
  } } @else{
  {{ item().label }}
  }
</button>
