<div class="w-full flex flex-wrap">
  <app-header
    class="w-full"
    [title]="'CALCULATE_HEADER' | translate"
    [back]="true"
  />

  <div class="w-full my-4 flex gap-4 border-b border-b-[#323546] pb-4">
    <div class="w-1/2">
      <label>{{ "BUY_PRICE" | translate }}</label>
      <input
        class="mt-3 w-full"
        type="text"
        id="price"
        name="price"
        placeholder="{{ 'INSERT_PRICE' | translate }}"
        [formControl]="priceControl"
        autocomplete="off"
      />
    </div>
    <div class="w-1/2">
      <label>{{ "UNITS" | translate }}</label>
      <input
        class="mt-3 w-full"
        type="text"
        id="price"
        name="price"
        placeholder="{{ 'INSERT_UNITS' | translate }}"
        [formControl]="unitControl"
        autocomplete="off"
      />
    </div>
  </div>

  <div class="w-full flex gap-4">
    @if(stopLossPrice){
    <app-profit-card
      class="flex w-1/2"
      [profit]="{ price: stopLossPrice, isProfit: false }"
    />
    } @if(profitPrice){
    <app-profit-card
      class="flex w-1/2"
      [profit]="{ price: profitPrice, isProfit: true }"
    />
    }
  </div>

  @if(profitMessage){
  <div class="w-full mt-4">
    <span class="text-lg font-medium dir-rtl">
      {{ profitMessage }}
    </span>
  </div>
  }
</div>
